.position-info {
  background: #fff;
  padding: 30px 10px 10px 20px;
  border-bottom: 1px solid #ddd;
}
.position-info p {
  margin-bottom: 10px;
}
.position-info p span {
  display: inline-block;
  margin-right: 10px;
}
.position-detail {
  background: #fff;
  float: left;
}
